# OS
.DS_Store

# Testing
coverage/
*.rtsp

# Rubinius
.rbx/

# packaging
.bundle/
pkg/
.loadpath

# docs
.yardoc/
doc/

# vim
*.swp

# RubyMine
.idea/
atlassian-ide-plugin.xml

# NetBeans
nbproject/

# Eclipse
.project
